@import "tailwindcss";

:root {
  --background: #0a0a0a; /* ton fond noir */
  --foreground: #ededed; /* ton texte blanc */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}